# compiled output
/dist
/node_modules

# yarn berry
.yarn/*
!.yarn/releases
.pnp.*

# données locales (SQLite)
/data
*.sqlite
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm

# environnement
.env
.environment
.environment.*
!.env.template

# Logs
*.log
logs/

# OS / IDE
.DS_Store
.vscode/
.idea/
